* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

/* different units px;vh,rem */
.container {
    width: 100%;
    height: 100vh;
    /* 1 vh = 19.2px */
    position: relative;
    background-color: white;
}

.navbar {
    display: flex;
    width: 90%;
    /* to place items left and right */
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
    /* to vertically center an item */
}

/* .navbar a{
    text-decoration: none;
} */

#logo {
    width: 130px;
}

.linkItem {
    display: inline-block;
    margin: 10px 20px;
}

.links {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.links:hover {
    color: red;
}

#name {
    color: orange;
}

.title {
    margin-top: 13%;
    margin-left: 12%;
}

.title_h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.download {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
}

.images {
    width: 45%;
    height: 85%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.imageGroup {
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

.images:hover #girl {
    left: 40%;
}

.images:hover #shape{
    bottom: 40px;
}

#about{
    margin: 20% 8% 0% 8%;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 32px;
}


.heading span{
    color: orange;
    font-size: 20px;
}

.about_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* 1 fr = 225px */
    column-gap: 2rem;
    /* 1 rem = 16px */
    margin-top: 3rem;
}

.about_img img{
    width: 80%;
    border-radius: 10px;
}

.about_para p{
    text-align: justify;
    font-size: 20px;
}

.information{
    margin-top: 1rem;
}
.info_box{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 15px;   
}

.tele_box{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 15px;   
}

.mail_box{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 15px;    
}

.git_box{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 15px;    
}

/* .info_text{
    margin-left: 1rem;
} */

.information span{
    margin-left: 1rem;
}

#skills{
    margin: 20% 8% 0% 8%;
}

.skills_heading{
    text-align: center;
}

.skills_heading h1{
    font-size: 32px;
}


.skills_heading span{
    color: orange;
    font-size: 20px;
}

.skill_container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:2rem;
    margin-top: 3rem;
}

.progress_container{
    margin-top: 10px;
}

.progress_bar{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0px;
    justify-content: space-between;
    position: relative;
}

.bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
}

.html_bar{
    width:95%;
    background-color: orange;
}

.css_bar{
    width:85%;
    background-color: orange;
}

.react_bar{
    width:99%;
    background-color: orange;
}

.angular_bar{
    width:88%;
    background-color: orange;
}

.skill_image{
    width:90%;
    padding-left: 4rem;
}


/* contact */

#contact{
    margin: 10% 8% 0% 8%;
}

.contact_heading{
    text-align: center;
    padding-top: 100px;
}

.contact_heading h1{
    font-size: 32px;
}


.contact_heading span{
    color: orange;
    font-size: 20px;
}

.icon_set{
    display: flex;
    align-items: center;
    /* to verticaly center an item */
    justify-content: center;
    /* to align items horizontally center  */
    margin-top: 2rem;
}

.icon, .up_arrow{
    width:50px;
    height:50px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.icon i{
   font-size: 2rem;
   color: black;
}

footer p{
    text-align: center;
    font-weight:bolder;
    margin-top: 50px;
}

.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,rgb(245, 1, 42),red);
}

.icon:hover i{
    color: white;
    animation: shake 0.75s;
}

@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg)
    }
}

.up_arrow{
    background-image: linear-gradient(to bottom right,yellow, red);
    float: right;
    margin: 20px 10px 5px 0px;

}

html{
    scroll-behavior: smooth;
}
